body{
    display: flex;
    justify-content: center;
    
}

#container{
    background-color: #606060;
    width: 1000px;
    height: 500px;
}

#tela {
    display: block;
    float: left;
    background-color: #ffffff;
    width: 600px;
    height: 400px;
    margin: 50px 0px 0px 30px;
}

#botoes {
    display: block;
    float: right;
    background-color: #000000;
    width: 300px;
    height: 400px;
    margin: 50px 30px 0px 0px;
}

#botoes input {
    color: white;
    margin: 20px 5px 20px 33px;
    background-color: #000000;
   
}

#numeracao input{
    padding: 5px 20px 5px 20px;
    margin: 20px 10px 20px 30px;
    color: white;
    background-color: #000000;
}

#processamento {
    margin: 0px -15px;
    display: flex;
    
}
